<div th:fragment="realGroupList" xmlns:th="http://www.w3.org/1999/xhtml">

    <div th:switch="${groups}">
        <h2 th:case="null">No any group.</h2>
        <div th:case="*">



    <table>
        <thead class="red">

        <tr>
            <th>Назва</th>
            <th>Кількість дітей</th>
            <th>Видалення групи</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.name}"></td>
            <td th:text="${group.number}"></td>
            <td><a th:href="@{/group/delete/{id}(id=${group.id})}">Видалити Групу</a></td>

            <td>
                <a th:href="@{/group/edit/{id}(id=${group.id})}">
                    Редагувати
                </a>
            </td>

        </tr>



        </tbody>
    </table>

            <p>
                <a href="/group/addGroups"> Add a new group
                </a>
            </p>

        </div>
    </div>

</div>
