
<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!--<script type="text/javascript" th:src="@{/js/my.js}"></script>-->

</head>
<header > css includes etc title </header>



<!--
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <style>
        header { position: absolute;
            width: 1280px;
            height: 60px;

            background: #8BECD5;}


    </style>
    <header>
        header

    </header>

</div>-->
